@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EPassport.Models.PassportOffice;

@{
    ViewData["Title"] = "Add Office";
}

<div class="row">
    <div class="col-md-4">
        <form asp-controller="PassportOffice" asp-action="AddOffice" method="post">
            <div class="form-group">
                <label asp-for="OfficeName" class="control-label"></label>
                <input asp-for="OfficeName" class="form-control" placeholder="Office Name" />
                <span asp-validation-for="OfficeName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Jurisdiction" class="control-label"></label>
                <input asp-for="Jurisdiction" class="form-control" placeholder="Office Name" />
                <span asp-validation-for="Jurisdiction" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" placeholder="Office Name" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Office Name" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Add" class="btn-primary btn" />
            </div>
         </form>
    </div>
</div>